* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header nav {
  background-color: #000000;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

#navbar a {
  color: #ccc;
  transition: 0.5s;
}

#navbar a:hover {
  color: #fff;
}

#icons{
  display: flex;
  gap: 2rem;
}

#sticky-header {
  font-size: 0.8rem;
  padding: 1rem;
  background-color: #000000;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
}

#sticky-header h3 {
  font-size: 1.3rem;
  color: #ebebeb;
}

#sticky-header a {
  color: #ebebeb;
}

#sticky-header-inner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#sticky-header-inner .options {
  margin: 0 0.5rem;
  transition: 0.5s;
  cursor: pointer;
}

#sticky-header-inner .options:hover {
  color: #0071e3;
}

#sticky-header-inner #main {
  color: #848484;
  cursor: default;
}

#sticky-header-inner .btn,
.btn {
  background-color: #0071e3;
  border-radius: 10rem;
  padding: 0.4rem 1rem;
  color: #fff;
}

/* conteudo */
#ribbon {
  text-align: center;
  padding: 1.1rem;
  background-color: #161617;
  color: #ebebeb;
  font-size: 0.8rem;
}

#ribbon a {
  color: #0071e3;
}

#main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

#picker-header {
  width: 98%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 58px;
  backdrop-filter: blur(100px);
  background-color: rgba(0, 0, 0, 0.5);
}

#picker-header.aux #title{
  font-size: 1rem;
}


#picker-header #title {
  font-size: 4.3rem;
  font-weight: 500;
  color: #cecece;
}

#picker #select-cor {
  color: #F5F5F7;
  font-size: 1rem;
  font-weight: bold;
}

#picker ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#picker li {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

#picker li .color {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  box-shadow: 1px 1px 1px;
  border: 2px solid #000000;
  pointer-events: none;
}

#roxo .color {
  background-color: #594f63;
}

#dourado .color {
  background-color: #f4e8ce;
}

#prateado .color {
  background-color: #f0f2f2;
}

#preto .color {
  background-color: #403e3d;
}

.selected {
  outline: 1px solid #0071e3;
}

#main-container #product-image.changing{
  opacity: 0.3;
}

#product-image{
  margin-top: 5rem;
}

#buy-now{
  background-color: #161617;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

#buy-now #title-buy{
  margin: 0 auto;
  margin-bottom: .5rem;
  padding: 0.8rem;
  color: #cecece;
  font-size: 1.9rem;
}

#buy-now #price{
  color: #848484;
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1.3rem;
}

#buy-now .btn{
  margin-top: 1.5rem;
  font-size: 1.1rem;
  padding: .4rem 1rem;
  align-self: center;
}

@media(max-width: 450px){
  #navbar li{
    display: none;
  }

  #navbar{
    display: flex;
    justify-content: space-between;
  }

  #navbar #logo,
  #navbar .icons{
    display: flex;
  }

  #main-container #product-image{
  max-width: 100%;
  }

  #sticky-header-links a{
    display: none;
  }

  #sticky-header-inner .btn{
    display: flex;
  }

  #ribbon a{
    display: flex;
    flex-direction: column;
  }

  #main-container {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
  }

  #picker-header{
    display: flex;
    flex-direction:column;
    position: static;
  }

  #picker-header #title{
    font-size: 3rem;
    position: static;
  }

  #buy-now {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

  #buy-now #title-buy{
    font-size: 1.4rem;
    margin: 0.2rem 1rem;
    padding: 0;
  }
  
  #buy-now #price{
    font-size: 1rem;
    margin: .2rem 1rem;
    padding: 0;
  }
}

@media(max-width: 770px){
  #product-image{
    width: 90%;
  }
}